<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %}</title>
    {% if vite.styles is defined %}
        {% for style in vite.styles %}
            <link rel="stylesheet" href="{{ style }}">
        {% endfor %}
    {% endif %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}
        {% if vite.client is defined and vite.client %}
            <script type="module" src="{{ vite.client }}"></script>
        {% endif %}
        <script type="module" src="{{ vite.script }}"></script>
    {% endblock %}
</body>
</html>
